@media (max-width: 500px) {
  .authorization {
    gap: 12px;
    padding: 10px;
  }

  .authorization-title {
    font-size: 15px;
  }

  .authorization-parameter {
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }

  .authorization-button {
    font-size: 15px;
  }

  .registration-question {
    font-size: 12px;
    align-items: center;
  }

  .password-link {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .message {
    font-size: 12px;
  }

  .modal-form {
    min-width: 200px;
    margin: 10px;
    padding: 10px 10px 25px 10px;
  }

  .modal-close-button {
    font-size: 12px;
    top: 8px;
    right: 8px;
  }

  .modal-form-title {
    margin-top: 25px;
    font-size: 18px;
    max-width: 250px;
  }

  .modal-field-input {
    font-size: 18px;
  }

  .modal-form-button {
    font-size: 15px;
  }
}