@media (max-width: 500px) {
  .authorization {
    gap: 12px;
    padding: 10px;
  }

  .authorization-title {
    font-size: 15px;
  }

  .authorization-parameter {
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }

  .authorization-button {
    font-size: 15px;
  }

  .registration-question {
    font-size: 12px;
    align-items: center;
  }

  .password-link {
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px;
  }

  .message {
    font-size: 12px;
  }

  .modal-title {
    font-size: 18px;
    max-width: 250px;
  }

  .modal-field-input {
    font-size: 18px;
  }

  .modal-form-button {
    font-size: 15px;
  }
}