@media (max-width: 500px) {
  .registration {
    gap: 20px;
    padding: 10px;
  }

  .registration-title {
    font-size: 15px;
  }

  .registration-parameter {
    font-size: 12px;
    text-align: center;
    padding: 5px;
  }

  .registration-button {
    font-size: 15px;
  }

  .authorization-question {
    font-size: 12px;
    align-items: center;
  }

  .message {
    font-size: 12px;
  }

  .container {
    min-width: 200px;
    margin: 10px;
    padding: 10px 10px 25px 10px;
  }

  .modal-close-button {
    font-size: 12px;
    top: 8px;
    right: 8px;
  }

  .modal-title {
    margin-top: 25px;
    font-size: 20px;
  }
}
