main {
  background-image: url(../imgs/Ukrainian-flag-img.jpg);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.authorization {
  background-color: #ffbe03;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
  padding: 50px;
  margin: 10px 0px;
  border: 5px outset #ffbe03;
  border-radius: 10px;
}

.authorization-title {
  font-size: 30px;
  color: #053053;
}

.authorization-parameter {
  font-size: 20px;
  text-align: center;
  padding: 5px;
}

.authorization-button {
  font-size: 25px;
  text-align: center;
  background-color: #053053;
  color: #fff;
  border-color: #053053;
  cursor: pointer;
}

.registration-question {
  font-size: 18px;
  align-items: center;
}

.registration-link {
  color: #038cff;
}

.password-link {
  font-size: 18px;
  background-color: #ebed4d;
  color: #038cff;
  border: solid 2px #053053;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.password-link:hover,
.password-link:focus {
  color: #053053;
}

.message {
  text-align: center;
  color: rgb(255, 0, 0);
}

/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  background-color: #ebed4d;

  margin: 10px;
  padding: 20px 20px 40px 20px;
  text-align: center;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  font-size: 15px;
  cursor: pointer;
}

.modal-title {
  font-size: 25px;
  color: #053053;
  text-align: center;
  margin-top: 20px;
  max-width: 400px;
}

.modal-field-input {
  text-align: center;
  font-size: 25px;
}

.modal-form-button {
  text-align: center;
  font-size: 16px;
  padding: 5px;
  color: #ffbc03;
  background-color: #038cff;
  border-color: #053053;
  cursor: pointer;
  border-radius: 10px;
}

.modal-form-button:focus,
.modal-form-button:hover {
  background-color: #053053;
  color: #fff;
}

#button-modal-save {
  font-size: 18px;
  padding: 8px;
  color: #fff;
  background-color: #053053;
  border-color: #053053;
}

#button-modal-save:focus,
#button-modal-save:hover {
  background-color: #038cff;
  border-color: #038cff;
  color: #ffbc03;
}

.modal-field-input:disabled {
  background-color: rgba(128, 128, 128, 0.5);
}

.modal-form-button:disabled,
#button-modal-save:disabled {
  color: #053053;
  background-color: #038eff80;
  border-color: #038eff80;
}

.modal-form-button:disabled:focus,
.modal-form-button:disabled:hover,
#button-modal-save:disabled:focus,
#button-modal-save:disabled:hover {
  background-color: #038eff80;
  border-color: #053053;
  color: #053053;
}