body {
  padding-left: 300px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 30px 30px;
}

section {
  padding: 20px;
}

.important-title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;

  padding-bottom: 20px;
}

.list li {
  position: relative;
}

.gift-link,
.idea-link {
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  width: 150px;
  height: 300px;
}

.gift-img,
.idea-img {
  width: 150px;
  height: 150px;
  border-radius: 8px;
}

.gift-information,
.idea-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 0px;
}

.gift-name,
.idea-name {
  font-size: 15px;
  text-align: center;
  letter-spacing: 1.5px;
}

.gift-category {
  font-size: 15px;
  text-align: center;
}

.idea-author {
  font-size: 15px;
  text-align: center;
}

.gift-price,
.idea-price {
  font-size: 15px;
  text-align: center;
  margin-bottom: 10px;
}

.delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 100;
  font-size: 12px;
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/*section id="favourites-gifts"*/
.favourites-gifts-title {
  color: #ffbc03;
  text-shadow: -1px -1px 0 #053053, 1px -1px 0 #053053, -1px 1px 0 #053053,
    1px 1px 0 #053053;
}

.favourites-gifts-item a {
  border: 1px solid #038cff;
}

.favourites-gift-name {
  color: #ffbc03;
  text-shadow: -1px -1px 0 #053053, 1px -1px 0 #053053, -1px 1px 0 #053053,
    1px 1px 0 #053053;
}

.favourites-gift-category {
  color: #038cff;
}

.favourites-gift-price {
  color: #ffbc03;
}

.favourites-gifts-delete {
  border: 1px solid #038cff;
}

/*section id="basket-gifts"*/
#basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.basket-main-title {
  color: #038cff;
  text-shadow: -1px -1px 0 #053053, 1px -1px 0 #053053, -1px 1px 0 #053053,
    1px 1px 0 #053053;
}

.basket-gifts-item a {
  border: 1px solid #ffbc03;
}

.basket-name {
  color: #038cff;
}

.basket-category {
  color: #ffbc03;
}

.basket-price {
  color: #038cff;
}

.basket-delete {
  border: 1px solid #ffbc03;
  background-color: #fff;
}

.my-account-button {
  margin-top: 30px;
  background-color: #053053;
  border-color: #053053;
  color: #fff;
  font-size: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.my-account-button:focus,
.my-account-button:hover {
  background-color: #038cff;
}

/*section id="my-data"*/
#my-data {
  background-color: #fff;
  padding: 30px 0px;
}

.data-main-title {
  color: #053053;
}

.my-data-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form-elements {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.my-data-parameter {
  font-size: 20px;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(118, 118, 118);
}

.my-data-parameter:disabled {
  background-color: rgba(118, 118, 118, 0.2);
}

.old-password-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.my-data-button {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
}

.confirm-button {
  background-color: #ffbc03;
  color: #000;
  border-color: #ffbc03;
}

.submit-button {
  background-color: #053053;
  color: #fff;
  border-color: #053053;
}

.message {
  color: rgb(255, 0, 0);
}

/*Modal*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  background-color: #ebed4d;

  padding: 20px 20px 40px 20px;
  text-align: center;
  min-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  font-size: 15px;
  cursor: pointer;
}

.modal-title {
  font-size: 25px;
  color: #053053;
  text-align: center;
  margin-top: 20px;
  max-width: 400px;
}

.modal-field-input {
  text-align: center;
  font-size: 25px;
}

.modal-form-button {
  text-align: center;
  background-color: #038cff;
  border-color: #053053;
  color: #ffbc03;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  border-radius: 10px;
}

.modal-form-button:focus,
.modal-form-button:hover {
  background-color: #053053;
}

/*section id="my-ideas"*/
#my-ideas {
  background-color: #038cff;
}

.my-ideas-title {
  color: #ffbc03;
  text-shadow: -1px -1px 0 #038cff, 1px -1px 0 #038cff, -1px 1px 0 #038cff,
    1px 1px 0 #038cff;
}

.my-ideas-item a {
  border: 1px solid #ffbc03;
}

.my-idea-name {
  color: #ffbc03;
  text-shadow: -1px -1px 0 #038cff, 1px -1px 0 #038cff, -1px 1px 0 #038cff,
    1px 1px 0 #038cff;
}

.my-idea-author {
  color: #ebed4d;
}

.my-idea-price {
  color: #ffbc03;
}

.my-ideas-delete {
  border: 1px solid #ffbc03;
  background-color: #fff;
}

.edit-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 100;
  font-size: 12px;
  cursor: pointer;

  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.my-ideas-edit {
  border: 1px solid #ffbc03;
  background-color: #fff;
}

.fa-pen {
  text-align: center;
  font-size: 10px;
}

/*section id="favourites-ideas"*/
#favourites-ideas {
  background-color: #ebed4d;
}

.favourites-ideas-title {
  color: #038cff;
  text-shadow: -1px -1px 0 #ebed4d, 1px -1px 0 #ebed4d, -1px 1px 0 #ebed4d,
    1px 1px 0 #ebed4d;
}

.favourites-ideas-item a {
  border: 1px solid #038cff;
}

.favourites-idea-name {
  color: #038cff;
  text-shadow: -1px -1px 0 #053053, 1px -1px 0 #053053, -1px 1px 0 #053053,
    1px 1px 0 #053053;
}

.favourites-idea-author {
  color: #053053;
}

.favourites-idea-price {
  color: #038cff;
}

.favourites-ideas-delete {
  border: 1px solid #038cff;
}

/*Adaptive*/
@media (max-width: 1000px) {
  body {
    padding-left: 0px;
  }

  .favourites-gifts-title {
    padding-top: 30px;
  }
}

@media (max-width: 500px) {
  .important-title {
    font-size: 28px;
  }

  .data-main-title {
    margin-bottom: 30px;
  }

  .my-data-parameter {
    font-size: 18px;
    padding: 8px 5px;
  }

  .old-password-container {
    flex-direction: column;
  }

  .my-data-button {
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
  }

  .message {
    font-size: 12px;
  }

  .container {
    min-width: 200px;
    margin: 10px;
    padding: 10px 10px 25px 10px;
  }

  .modal-close-button {
    font-size: 12px;
    top: 8px;
    right: 8px;
  }

  .modal-title {
    margin-top: 25px;
    font-size: 18px;
    max-width: 250px;
  }

  .modal-field-input {
    font-size: 18px;
  }

  .modal-form-button {
    font-size: 15px;
  }

  .my-account-button {
    font-size: 25px;
  }
}