/*
#ffbe03
#038cff
#053053
#ebed4d
*/

body {
    scrollbar-color: red;
    /*overflow: scroll; - Завжди відображати прокрутку */
}


header {
    background-color: #ffbe03;
    color: #038cff;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100%;
    width: 300px;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.user {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.fa-user-circle {
    font-size: 85px;
    color: #038cff;
}

.user-title {
    font-size: 25px;
    color: #053053;
}

.nav-list {
    display: flex;
    flex-direction: column;
    gap: 3.5vh;
}

.nav-links-item {
    background-color: #038cff;
    border-radius: 15px;
    padding: 10px 5px;
}

.nav-links {
    color: #ffbe03;
    font-size: 20px;
}

.nav-links:hover,
.nav-links:focus {
    color: #fff;
}

#menu {
    background-color: #ffbe03;
    color: #053053;
    font-size: 30px;
    padding: 5px 8px;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 100;
    display: none;
}

.log-out {
    background-color: rgb(201, 76, 76);
    border-color:rgb(173, 50, 50);
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    cursor: pointer;
}

.log-out:focus,
.log-out:hover {
    background-color:rgb(173, 50, 50);
}

/*Adaptive*/
@media (max-width: 1000px) {
    header {
        left: -120%;
    }

    header.toggle {
        left: 0%
    }

    #menu {
        display: block;
    }
}

@media (max-width: 500px) {
    header {
        width: 100%;
    }
}